[Unit]
Description=Create filesystem snapshots for all configured volumes
Wants=local-fs.target
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/snapshotctl snapshot
